---
import Layout from "../../layouts/Layout.astro";
import { getLaunchById, getOlderLaunches } from "../../services/spacex";

interface Props {
  id: string;
  name: string;
  flight_number: number;
  details: string;
  links: { patch: { small: string } };
}

const { id } = Astro.params;

const launch:any = id ? await getLaunchById({ id }) : "null";

export const prerender = true;

export async function getStaticPaths() {
  const launches = await getOlderLaunches();
  return launches.map((launch) => ({
    params: { id: launch.id },
  }));
}

---

<Layout title={`Vuelo #${launch?.flight_number} - ${launch?.name}`}>
  <article class="flex flex-col justify-center pt-16 px-5">
    <h2 class="text-4xl font-bold pb-5">
      Vuelo #{launch?.flight_number} - {launch?.name}
    </h2>
    <img
      class="w-52 h-auto"
      src={launch?.links?.patch?.small}
      alt={launch?.name}
      loading="eager"
    />
    <p class="text-xl pt-5">{launch?.details != null ? launch.details : "No se han encontrado detalles sobre el vuelo."}</p>
  </article>
</Layout>
